@font-face {
    font-family: main-font;
    src: url(./slkscre.ttf);
}

:root {
    --header-text:rgb(67, 66, 66);
    --main-text: darkblue;
    --background: lightblue;
}

*{
    font-family: main-font;
}

#top {
    display: flex;
    justify-content: space-between;
    color: var(--header-text);
    font-size: 30px;
    padding: 20px;
    margin: 15px 25px;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainCard button {
    padding: 30px;
    margin: 15px;
    background-color: lightblue;
    color: var(--main-text);
    border: 2px solid var(--main-text);
    border-radius: 6px;
    font-size: 35px;
}

#mainCard button:hover {
    cursor: grab;
    color: var(--background);
    background-color: var(--main-text);
    border-color: var(--background);
}

#mainCard h1 {
    font-size: 25px;
    padding: 30px 20px;
}

#mainCard h2 {
    font-size: 26px;
    padding: 40px;
    border: 4px ridge var(--header-text);
}

#answers li button {
    padding: 10px;
}

#mainCard {
    display: flex;
}


#result input {
    padding: 10px;
    margin: 20px;
}

#result h3 {
    margin: 15px;
}

#submit {
    margin-top: 30px;
}